 
    <div class="content">

    <div class="container-fluid pt-4 px-4">
        <form action="/admin/addproduct" method="post" enctype="multipart/form-data">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Add Product</h6>
                            <div class="form-floating mb-3">
                                <input type="text " class="form-control" id="floatingInput"
                                    placeholder="Product Name" name="productname">
                                <label for="floatingInput">Product Name</label>
                            </div>
                            <div class="form-floating mb-3 nav-item dropdown">
                       <select class="form-select" name="categoryname" aria-label="Default select example">
                        <option selected>Select category</option>
                        {{#each getcategory}}
                        <option value="{{this.categoryname}}">{{this.categoryname}}</option>
                        {{/each}}
                        
                        
                      
                    </select>
                        </div>
                    
                            <div class="form-floating mb-3">
                                <input type="text " class="form-control" id="floatingInput"
                                    placeholder="Description" name="description">
                                <label for="floatingInput">Description</label>
                            </div>
                             <div class="form-floating mb-3">
                                <input type="text " class="form-control" id="floatingInput"
                                    placeholder="Price" name="price">
                                <label for="floatingInput">Price</label>
                            </div>
                               <div class="form-floating mb-3">
                                <input type="text " class="form-control" id="floatingInput"
                                    placeholder="Stock" name="Stock">
                                <label for="floatingInput">Stock</label>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Default file input example</label>
                                <input class="form-control bg-dark" name="image" multiple type="file" id="formFile">
                            </div>
                             <div class="m-n2">
                             <button type="submit" class="btn btn-danger m-2">Add Product</button>
                             </div>
                             
                             </div>
                             </div>
                       </form>
                    </div>
                    </div>
               <script defer src="https://cdn.crop.guide/loader/l.js?c=PDDTVZ"></script>